@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    --primary-color: #22d3ee;
    --gray-color:#d1d5db;
}
body
{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

hr
{
    margin: 2rem 0rem;
}
/* Containers */
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center
{
    max-width: 600px;
    margin: auto;
}

/* Links */
.link
{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary
{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* Lists */
.list-non-bullet
{
    list-style: none;
}
.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */
.navigation
{
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    
}
.navigation .link
{
    color: white;
}
.nav-brand
{
    font-weight: bold;
    font-size: 1.2rem;
}
.nav-pills
{
    text-align: right;
}
.link-active
{
    font-weight: bold;
}

/* Header */
.myheader
{
    padding: 2rem;
}
.myheader .coder-img
{
    max-width: 300px;
    display: block;
    margin: auto;
}
.myheader .heading
{
    text-align: center;
    padding-top: 1rem;
    font-size: x-large;
}

/* Section */
.section
{
    padding: 2rem;
}
.section h1
{
    text-align: center;
}
.ow
{
    background-color: var(--gray-color);
}

/* Footer */
.footer
{
    background-color: var(--primary-color);
    text-align: center;
    color:white;
    border-top-right-radius: 0.5rem;
    padding: 1rem 1rem;
}
.footer .link
{
    color: white;
}
.footer ul
{
    padding-inline-start: 0px;
}